@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700,900&display=swap');
@font-face {
	font-family: 'Radiant';
	src: url('../fonts/radiant-webfont.woff2') format('woff2'),
		url('../fonts/radiant-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* Globals */
html {overflow-y:scroll; overflow-x:hidden;}
html, body {height:100%;}
body {
	display:flex;
	flex-direction:column;
	font-family:'Montserrat', sans-serif;
	color:#222;
	background-color:#f5f5f5;
	background-image:url(../img/bg-body.jpg);
	background-position:center center;
	background-size:cover;
	background-attachment:fixed;
}

a, button {transition:all 0.50s;}
a:hover {text-decoration:none;}
label,
input[type='text'],
input[type='email'] {width:100%;}
.hidden {display:none;}
.disabled {cursor:not-allowed!important;}
.red {background:lightsalmon!important;}
.blue {background:lightblue!important;}
.green {background:lightgreen!important;}

/* ------------------------------ */

/* Bootstrap Resets */

.btn {border:0; color:#fff; text-transform:uppercase; border-radius:0; letter-spacing:1px;}
.btn-primary {background-color:#5ac0c7;}
.btn-primary:hover {background-color:#55ccd4; border-color:#fff;}

/* ------------------------------ */

/* Content Styles */
body.modal-open #content {backdrop-filter:blur(4px); filter:blur(4px);}

#content {flex:1 0 auto;}

#content > .container2,
#content > .container2 > .row,
#content > .container2 > .row > [class*='col-'],
#content > .container2 > .row > [class*='col-'] > .details {height:100%;}

.details {letter-spacing:1px; color:#fff; font-size:20px; background-color:rgba(0, 0, 0, 0.20); padding:30px 30px 50px 30px;}
.details .row.line [class*='col-'] {position:relative; margin-bottom:20px; padding-bottom:20px;}
.details .row.line [class*='col-']:after {content:''; position:absolute; left:0; border-bottom:1px solid #fff; width:100%; height:1px; padding-bottom:20px;}
.details .label {font-weight:700; letter-spacing:1.5px;}

.details a:not(.btn) {color:#fff; border-bottom:1px dashed rgba(255, 255, 255, 0.8);}

.details .invite-header {text-align:center; margin-bottom:50px;}

.details .rsvp-form .btn {font-size:30px; font-weight:700; border:10px solid rgba(255, 255, 255, 0.7);}
.details .rsvp-form .btn:hover {background-color:#55ccd4; border-color:#fff;}

.modal form {}
.modal form label {margin-bottom:0; font-weight:700;}
.modal form input {}
.modal form textarea {width:100%;}
.modal form #beach {display:none;}

.modal form .form-control {border-radius:0;}

.modal .modal-header,
.modal .modal-footer {background-color:rgba(0, 0, 0, 0.10);}
.modal .modal-content {background-color:rgba(255, 255, 255, 0.95);}

.modal .close {text-shadow:none;}


/* ------------------------------ */

/* Bootstrap Breakpoints */

/* Small (sm) and up*/
@media (min-width:576px) {

}


/* Medium (md) and up */
@media (min-width:768px) {

}

/* Large (lg) and up */
@media (min-width:992px) {
	.details .row.line:after {content:''; background:#fff; width:100%; height:1px; margin:20px 15px;}

	.details .row.line [class*='col-'] {margin-bottom:0; padding-bottom:0;}
	.details .row.line [class*='col-']:after {display:none;}

	.details .row.line.last:after {height:0;}
}

/* Extra Large (xl) and up */
@media (min-width:1200px) {

}

/* ------------------------------ */

/* Scrollbar Styles */
::-webkit-scrollbar			{background-color:#ddd; width:10px;}
::-webkit-scrollbar-track	{background-color:#ddd;}
::-webkit-scrollbar-thumb	{background-color:#aaa;}
::-webkit-scrollbar-button	{display:none;}

/* ------------------------------------------------------------------------------------------------------- */

/* Add-on: Bootstrap 4, hidden-{breakpoint}-{up/down} */
/* taken from Bootstrap 4, alpha 6 */
.hidden-xs-up {display:none!important;}
@media (max-width:575px)	{ .hidden-xs-down	{display:none!important;} }
@media (min-width:576px)	{ .hidden-sm-up		{display:none!important;} }
@media (max-width:767px)	{ .hidden-sm-down	{display:none!important;} }
@media (min-width:768px)	{ .hidden-md-up		{display:none!important;} }
@media (max-width:991px)	{ .hidden-md-down	{display:none!important;} }
@media (min-width:992px)	{ .hidden-lg-up		{display:none!important;} }
@media (max-width:1199px)	{ .hidden-lg-down	{display:none!important;} }
@media (min-width:1200px)	{ .hidden-xl-up		{display:none!important;} }
.hidden-xl-down {display:none!important;}

/* ------------------------------------------------------------------------------------------------------- */

/* Add-on: Bootstrap 4, hidden-{breakpoint} */
/* taken from Bootstrap 3.3.6, converted to Bootstrap 4 */
@media (max-width:575px)	{ .hidden-xs {display:none!important;} }
@media (min-width:576px) and (max-width:767px)	{ .hidden-sm {display:none!important;} }
@media (min-width:768px) and (max-width:991px)	{ .hidden-md {display:none!important;} }
@media (min-width:992px) and (max-width:1199px)	{ .hidden-lg {display:none!important;} }
@media (min-width:1200px)	{ .hidden-xl {display:none!important;} }

/* ------------------------------ */

/* Animated Content Loader */
.loading-spinner {
	pointer-events:none;
	position:relative;
	cursor:default;
	-webkit-user-select:none;
		-ms-user-select:none;
			user-select:none;
}

.loading-spinner:after,
.loading-spinner:before {
	position:absolute;
	display:block;
	content:'';
}

.loading-spinner:before {
	z-index:1000;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background:rgba(255,255,255,.8);
}

.loading-spinner:after {
	z-index:1001;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	width:100px;
	height:100px;
	margin:-50px 0 0 -50px;
	-webkit-animation:form-spin .6s linear;
	animation:form-spin .6s linear;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
	border-width:20px;
	border-style:solid;
	border-color:#767676 rgba(0,0,0,.1) rgba(0,0,0,.1);
	border-radius:999px;
}

.loading-spinner-inverted:before {background:rgba(0,0,0,.45);}
.loading-spinner-inverted:after {border-color:#ccc rgba(255,255,255,.2) rgba(255,255,255,.2);}

@-webkit-keyframes form-spin {
	from {
		-webkit-transform:rotate(0);
		transform:rotate(0)
	}
	to {
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg)
	}
}

@keyframes form-spin {
	from {
		-webkit-transform:rotate(0);
		transform:rotate(0)
	}
	to {
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg)
	}
}
